* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.Student-login {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: blue;
}
.Student-login h1 {
    font size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.Student-login p {
    font-size: 20px;
    margin: 15px 0;
}
.Student-login input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 25;
    outline: none;
    border-radius: 5px;
}
.Student-login button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 25;
}
ul{
    width: 696.5px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
li{
    float: left;
    border-right: 1px solid #156ee2;
}
a{
    display: block;
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
}
a:hover, .active a{
    background-color: #156ee2;
}
